/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* -------------------- Mobile Styles -------------------- */

/* -------------------- General Styles -------------------- */
 
/* ---------- Brand Colors ------------
honey #d7cec7
bright orange  #F79E02
purplish  #17178C
deep blue #000080
*/

html {
	font-size: 16px;
}
 
body {
  background-color: white;
  color: #67697C;
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-align: left;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5em;
  font-weight: 100;
}

h2 {
  color: #67697C;
  font-size: 1.875em;
  padding-top: 10px;
  text-align: center;
}

h3 {
  color: #F79E02;
  font-size: 1.4em;
  font-weight: 500;
  text-align: center;
}

p {
  font-size: 1em;
  padding: 0 15px;
}

address {
  font-style: normal;
}


/* -------------------- Base Header Styles -------------------- */

header{
  background-color: #d7cec7;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 15px 0 25px 0;
}

header h1{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;

}

/* -------------------- Navigation menu -------------------- */


header nav {
  align-items: center;
  display:flex;
  font-size: 1.125em;
  justify-content: space-around;

}


header nav ul{
  display:flex;
  justify-content: space-evenly;
  padding-left: 0;
  list-style-type: none;
  width: 100%;
}


nav ul li a  {
  color: white;
  font-weight: 500;
  padding: 10px 0;
  text-transform: uppercase;
}


nav ul li a:hover
{
  color: #F79E02;
}

/* -------------------- Hero Section -------------------- */


#hero-section {
  align-items: flex-start;
  display:flex;
  margin-bottom: 250px;
  padding-top: 80px;
  position: relative;
}

.background {
  background: url("../img/hero-image.jpg") center no-repeat white;
  background-size: cover;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 250px 0 300px 0;
  z-index: -1;
}

#hero-section h1, #hero-section h2{
  padding-left: 15px;
  position: relative;
}

#hero-section h1{
  color: #F79E02;
}

#hero-section h2 {
  color: #67697C;
  font-weight: 500;
  text-align: left;
  width: 70%;
}

 /* -------------------- Portfolio Section -------------------- */

 #portfolio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 50px 0;
}

#portfolio article{

  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 30px 0;

}

#portfolio figure{
  margin: 20px 0 0 0;
}
#portfolio img{
  margin: 5px 0;
  width: 100%;
}

#portfolio p{
  text-align: center;
}

/* -------------------- About Section -------------------- */
#about {
  background-color: #d7cec7;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#about article {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 20px;
}

#about figure {
  display:flex;
  justify-content: center;
}

#about img{
  border: 3px solid white;
  width: 50%;
 }

 #about h2{
   color: white;
 }

 #about p {
  color: white;
  line-height: 1.7;
  text-align: justify;
  width: 80%;
 }

/* -------------------- Contact Styles -------------------- */

#contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* contact details */

#contact .contact-details {
  display: flex;
  flex-flow: row wrap; 
  justify-content: center;
  margin-bottom: 30px;
}

#contact .contact-details h3{
  width: 77%;
}

#contact .contact-details address {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

#contact .contact-details p {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 0 0 30px;
}

#contact .contact-details span {
  align-items: center;
  border-radius: 100%;
  display: flex;
  font-size: 2em;
  height: 2em;
  justify-content: center;
  width: 2em;
}

/* social details */

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#contact .social-icons p  {
  align-items: center;
  border-radius: 100%;
 
  display: flex;
  font-size: 3em;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 2em;
}

#contact .social-icons a {
  color: #67697C;
}
/* -------------------- Footer Styles -------------------- */

footer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


   /* -------------------- Styles for Tablets -------------------- */

@media only screen and (min-width: 768px) {
   /*header section*/

   p {
    font-size: 1.2em;
  }
   header{
    display: flex; 
    flex-flow: row nowrap;
    justify-content: space-between;
   }

   header h1{
     font-size: 2em;
     padding-left: 50px;
   }

   nav {
    width: 50%;
  }

  nav a{
    font-size: 1.2em;
  }

  /*hero section*/

  #hero-section {
    align-items: flex-start;
    display: flex;
    flex-flow: column wrap;
    /*padding: 100px 0 150px 25px;*/
  }

  .background {
    padding-bottom: 350px;
  }

  #hero-section h1, #hero-section h2 {
    padding-left: 35px;
  }
  
  /*portfolio*/

  #portfolio {
    padding: 25px 0;
  }

 .portfolio-projects {
   display: flex;
   flex-flow: row nowrap;
 } 
  #portfolio .project-description {
    padding-bottom: 15px;
  }

  #portfolio a {
    display:flex;
    justify-content: center;
  }
  #portfolio img {
    border: solid 2px #67697C;
    width: 80%;
  }

  #portfolio h2 {
    padding-top: 30px;
    width: 100%;
  }

  #portfolio p{
    margin: 0 30px;
  }

  /*about*/

  #about {
    padding-bottom: 50px;
  }

  #about h3{
    margin-top: 50px;
  }

  #about p{
    padding: 10px 100px;
  }

   /*contact*/

   #contact {
    display: flex;
    flex-flow: row wrap;
    padding: 30px;
  }

  #contact h2{
    width: 100%;
  }
  
  #contact .contact-details {
    display: flex;
    flex-flow: column wrap;
    width: 50%;
  }

  #contact .social {
    width: 50%;
  }

  .social-icons{
    padding-top: 15px;
  }

}


/* -------------------- Styles for Desktop -------------------- */
@media only screen and (min-width: 1200px) {

 

  p {
    font-size: 1.5em;
  }

  h2{
    font-size: 2.6em;
  }

  h3 {
    font-size: 2em;
  }
/*hero-section*/
  #hero-section {
    margin-bottom: 0;
    padding: 170px 0;
  }

  #hero-section h1{
    font-size: 4em;
  }

  #hero-section h2{
    font-size: 2.5em;
  }

  #hero-section h1, #hero-section h2 {
    padding-left: 45px;
    position: relative;
  }

    /*portfolio section*/

   
    #portfolio p {
      padding: 0 80px;
    }
  
    /*about section*/
    
    #about article {
      align-items: flex-start;
      display:flex;
      flex-flow: row nowrap;
      justify-content: center;
    }
   
  
    #about figure{
      margin: 0 0 0 60px;
      
      
    }
    #about img{
     /* margin: 100px 0;*/
      width: 100%;
    }
    #about p {
      width: 60%;
  }

  /*contact section*/
  #contact .contact-details p {
    margin-left: 130px;
  }

  .social-icons{
    padding-top: 45px;
  }
}



@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

